[global]
fsid = <%= @fsid %>
log_to_syslog = true
err_to_syslog = true
clog_to_syslog = true
mon_initial_members = <%= @mon_initial_shortname %>
mon_host = <%= @mon_initial_ip %>
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
public_network = <%= @public_network %>
cluster_network = <%= @cluster_network %>

[mon]
mon_cluster_log_to_syslog = <%= @mon_cluster_log_to_syslog %>

[mds]
mds_bal_frag = <%= @mds_bal_frag %>
mds_cache_size = <%= @mds_cache_size %>
mds_log_max_expiring = <%= @mds_log_max_expiring %>

[osd]
osd_op_threads = <%= @osd_op_threads %>
osd_disk_threads = <%= @osd_disk_threads %>
filestore_op_threads = <%= @osd_fs_op_threads %>
filestore_queue_max_ops = <%= @osd_fs_que_max_ops %>

